.container_Carrousel{
    padding: 20px 0px 30px 40px;
    background: transparent;    
}

h1{
    background: transparent;
    color: white;
}

.encabezado{
    display: flex;
    align-items: baseline;
    
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    color: white;
  }
  