::root{
    --colorPrimary:#000000E5;
    --colorSecundary: 
}

.form{    
    width: 90%;
}
.tituloForm{
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: center;
    color: #F5F5F5;
    margin: 45px auto;
}

.input{
    background: #53585D;
    color: #E5E5E5; 
    border-bottom-color: 'white'; 
    width: 100%;
      
}

.campo{
    margin: 25px 0;
}

.buttonSection{
    display: flex;
    justify-content: space-between;
    margin:  30px 0 150px 10px ;
}

.btnsForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}